/* text */

.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.50rem;
}

.heading-medium{
    font-size: 2rem;
}


/* colors */

.bg-dark-blue{
    background: #062e51;
}

.bg-light-blue{
    background: #336ea2;
}

